[submodule "webui"]
	path = webui
	url = https://github.com/gaconkzk/webui
[submodule "resource"]
	path = resource
	url = https://github.com/gaconkzk/resource
[submodule "oauth2"]
	path = oauth2
	url = https://github.com/gaconkzk/oauth2.git
